@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

* {
  @apply m-0 p-0 box-border;
}

.flex-center {
  @apply flex items-center justify-center;
}

.transition-effect {
  @apply transition-all duration-300 ease-in-out;
}

.custom-shadow {
  box-shadow: 4px 4px 0px #1a1a1a;
}

.size-screen {
  @apply w-screen h-screen;
}

.input-border {
  @apply border-2 border-neutral-300 focus-visible:border-black focus-visible:outline-none;
}

.button-md {
  @apply px-4 py-1 rounded-md;
}

.loader-action {
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader {
  border: 2px solid #1a1a1a;
  @apply loader-action;
}

.loader-md {
  border: 3px solid #1a1a1a;
  @apply loader-action;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
